<!-- Footer -->

<div class="row justify-content-md-center mx-auto" style ='background-color: #7FADB8;  ;align-items: center'>
  <div class="row col-lg-10 col-md-12 mx-auto" style ='align-items: center'>
      <div class="col-lg-3 col-md-3 ">   <img  style="width:80%; align-items:center" class="img-fluid " src="img/logos/colab.png" alt="Puzzle"></div>
      <div class="col-lg-1 col-md-1 "> </div>
      <div class="col-lg-4 col-md-4 ">   <img style="width:100%; align-items:center" class="img-fluid  " src="img/logos/goals.png" alt="Puzzle"></div>
      <div class="col-lg-1 col-md-1 "> </div>
      <div class="col-lg-3 col-md-3 ">   <img style="width:80%; align-items:center"  class="img-fluid   " src="img/logos/ucl1.png" alt="Puzzle"></div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          {% if site.twitter_username %}
          <li class="list-inline-item">
            <a href="https://www.twitter.com/{{ site.twitter_username }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.facebook_username %}
          <li class="list-inline-item">
            <a href="https://www.facebook.com/{{ site.facebook_username }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li class="list-inline-item">
            <a href="https://github.com/{{ site.github_username }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
        <p class="copyright text-muted">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}</p>
      </div>
    </div>
  </div>
</footer>
